<div class="container">
  <h2>Add user</h2>
  {{#if error}}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
  {{/if}}
  <form method="POST" action="/user/signup">
    <div class="mb-3">
      <label for="name" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        value="{{user.email}}"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        value="{{user.email}}"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        value="{{user.password}}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

</div>